html {
  scroll-behavior: smooth; /* This makes the scroll behavious of internal links have a smooth animation */
}

body {
  background-color: #55595c;
  margin: 0; /* resets the default 8px from most browsers */
  text-align: center; /* centers all text elements in the website */
}

/* Game color: #a70184 */

#main-header {
  background-color: white;
  color: black;
  padding: 5px 0; /* top&down left&right */
  margin: 20px 30px 20px 30px; /* top right down left */
}

#brands-section li {
  background-color: white;
  padding: 10px;
  border: 2px solid black; 
  list-style-position: inside; /* moves the bullet point inside the element */
  margin-right: 40px; /* same as native left separation for bullet point */
}

#games-section, #used-section, #brands-section, #access-buttons {
  background-color: lightgray;
  padding: 20px;
  margin: 20px;
}

#access-buttons {
  background-color: lightgray;
}

#access-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#access-buttons a {
  text-decoration: none;
}

.card img  {
  height: 180px;
  width: 120px;
}

/* New CSS from here */

#access-buttons button {
  background-color: #a70184;
  color: white
}

#main-header h1 span {
  color: #a70184;
}

#main-header p + p {
  font-size: 30px;
}

#main-header > span {
  font-size: 8px;
}

#access-buttons button:hover {
  background-color: black;
}

#access-buttons button:active {
  background-color: white;
  color: black;
}

#brands-section ul li:hover {
  background-color: #c57000;
}

#brands-section ul li:nth-child(odd) {
  background-color: black;
  color: white;
}

#brands-section ul li::marker {
  /* color: #a70184;
  font-size: 30px; */
  content: "👾 ";
  font-size: 20px;
}

#brands-section ul li:hover::after {
  content: " On Sale!";
}

